<hr>
<table>
<tr><b>ID: </b><input id="id_input"/></tr>
<tr><textarea id="code_input">%% input your eralng code here</textarea></tr>
</table>
<button id="code_submit" class="btn btn-primary">Submit</button>
